--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
numpy<2

flask==3.1.1
python-dotenv==1.1.0
pypdf==5.6.1

langchain==0.3.26
langchain-community==0.3.26
langchain-huggingface
langchain-openai==0.3.24
langchain-pinecone==0.2.8
langchain-text-splitters

sentence-transformers==4.1.0

pinecone
google-search-results

-e .